<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:fragment="link-css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link th:fragment="link-css" rel="stylesheet" th:href="@{/css/styles.css}">
    <title>Thêm sách</title>
</head>
<body>
<div class="container content">
    <h1 class="dashboard__title">Thêm sách</h1>
    <form th:action="@{/admin/book/create}" th:object="${book}" method="post" enctype = "multipart/form-data">
        <div class="col-6 mb-3">
            <label class="form-label" for="title">Tên sách:</label>
            <input type="text" class="form-control" id="title" th:field="*{title}">
            <span class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
        </div>
        <div class="col-6 mb-3">
            <label class="form-label" for="author">Tên tác giả:</label>
            <input type="text" class="form-control" id="author" th:field="*{author}">
            <span class="text-danger" th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></span>
        </div>
        <div class="col-6 mb-3">
            <label class="form-label" for="price">Giá:</label>
            <input type="number" class="form-control" id="price" th:field="*{price}">
            <span class="text-danger" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>
        </div>
        <!--Image product-->
        <div class="col-6 mb-3">
            <label class="form-label" for="image">Image:</label>
            <input class="form-control" type="file" id="image" name="imageProduct" accept="image/png, image/jpeg" required>
        </div>
        <div class="col-6 mb-3">
            <label class="form-label" for="intro">Mô tả ngắn:</label>
            <textarea class="form-control" id="intro" rows="3"  th:field="*{intro}"></textarea>
            <span class="text-danger" th:if="${#fields.hasErrors('intro')}" th:errors="*{intro}"></span>
        </div>
        <div class="col-6 mb-3">
            <label class="form-label" for="content">Nội dung:</label>
            <textarea class="form-control" id="content" rows="3"  th:field="*{content}"></textarea>
            <span class="text-danger" th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></span>
        </div>
        <div class="col-6 mb-3">
            <label class="form-label" for="year">Năm suất bản:</label>
            <input type="number" class="form-control" id="year" th:field="*{year}">
            <span class="text-danger" th:if="${#fields.hasErrors('year')}" th:errors="*{year}"></span>
        </div>
        <div class="col-6 mb-3">
            <label class="form-label" for="company">Nhà suất bản:</label>
            <input type="text" class="form-control" id="company" th:field="*{company}">
            <span class="text-danger" th:if="${#fields.hasErrors('company')}" th:errors="*{company}"></span>
        </div>
        <div class="col-6 mb-3">
            <label class="form-label" for="size">Kích thước</label>
            <input type="text" class="form-control" id="size" th:field="*{size}">
            <span class="text-danger" th:if="${#fields.hasErrors('size')}" th:errors="*{size}"></span>
        </div>
        <div class="col-6 mb-3">
            <label class="form-label" for="type">Loại bìa:</label>
            <input type="text" class="form-control" id="type" th:field="*{type}">
            <span class="text-danger" th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></span>
        </div>
        <div class="col-6 mb-3">
            <label class="form-label" for="pages">Số trang:</label>
            <input type="number" class="form-control" id="pages" th:field="*{pages}">
            <span class="text-danger" th:if="${#fields.hasErrors('pages')}" th:errors="*{pages}"></span>
        </div>
        <div class="col-6 mb-3">
            <label class="form-label" for="quantity">Số lượng sách trong kho:</label>
            <input type="number" class="form-control" id="quantity" th:field="*{quantity}">
            <span class="text-danger" th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></span>
        </div>
        <div class="col-6 mb-3">
            <label class="form-label" for="category_id">Thể loại:</label>
            <select class="form_control" id="category_id" th:field="*{category.id}" required>
                <option value="">--Chọn thể loại--</option>
                <option th:each="category:${categories}" th:value="${category.id}"
                        th:text="${category.name}"></option>
            </select>
        </div>
        <input type="submit" class="btn btn-success" value="Thêm">
    </form>
    <a class="btn btn-primary" style="margin: 10px 0;" th:href="@{/admin/dashboard}">Trở về trang quản trị</a>
</div>


<script th:src="@{/js/jquery-3.3.1.slim.min}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>